{% extends "fefu_lab/base.html" %}

{% block title %}О нас{% endblock %}
{% block heading %}О нашем приложении{% endblock %}

{% block content %}
<div class="about-content">
    <p>Это приложение создано в рамках курса по Django.</p>
    <p>Мы изучаем маршрутизацию и представления (Views).</p>
    <p>В этой лабораторной работе добавлены:</p>
    <ul>
        <li>HTML шаблоны с наследованием</li>
        <li>Статические файлы (CSS стили)</li>
        <li>Веб-формы с валидацией</li>
        <li>Защита от CSRF-атак</li>
        <li>Server-side обработка данных</li>
    </ul>
</div>
{% endblock %}
